<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코리아아이티 아카데미 > 회원가입</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <style>
        .msg {
            font-weight: bold;
            font-style: italic;
            color: red;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <h3>
            코리아아이티 아카데미
            <p>
                <span class="en">Register Member</span>
            </p>
        </h3>
        <form action="" method="post" onsubmit="return frmCheck()">
            <ul>
                <li>
                    <label>
                        <mark>
                            아이디
                            <span class="msg"></span>
                        </mark>
                    </label>
                    <input type="text" name="userid" />
                </li>
                <li>
                    <label>
                        <mark>비밀번호</mark>
                    </label>
                    <input type="password" name="passwd" />
                </li>
                <li>
                    <label>
                        <mark>이름</mark>
                    </label>
                    <input type="text" name="username" />
                </li>
                <li>
                    <input type="submit" value="회원가입" class="btn red">
                </li>
                <li class="form-bottom">
                    <p>
                        <a th:href="@{/login}" class="en">Login</a>
                    </p>
                    <p>
                        <a th:href="@{/home}" class="en">Website Main</a>
                    </p>
                </li>
            </ul>
        </form>
    </div>
    <script>
        let userid = document.querySelector("input[name=userid]");
        let msg = document.querySelector(".msg");

        userid.onblur = function() {
            $.ajax({
                type: "get",
                url: "/idCheck",
                dataType: "json",
                data: {userid : userid.value},
                success: function(res) {
                    if( res.msg == "Yes" ) {
                        //msg.innerHTML = "<strong>사용하셔도 좋습니다<strong>";
                        $(".msg").html("사용하셔도 좋습니다");

                    }else{
                        //msg.innerHTML = "<strong>사용할 수 없는 아이디입니다</strong>";
                        $(".msg").html("사용할 수 없습니다");
                    }

                }
            });
        }
    </script>
</body>
</html>