<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코리아아이티 아카데미 > 게시판 답글쓰기입니다.</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/boardWrite.css}">
</head>
<body>
    <div class="wrap">
        <div class="top">
            <h3 class="en">
                <i class="fa-solid fa-caret-right"></i> KOREA IT ACADEMY >
                <span class="ko">게시판 답글쓰기입니다.</span>
            </h3>
        </div>

        <form method="post" action="/board/boardReply" enctype="multipart/form-data" onsubmit="return frmCheck()">
        <table>
            <tbody>
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" name="subject">
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="text" name="writer" maxlength="20">
                </td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea name="content">[[${reply.content}]]</textarea>
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <input type="file" name="files" multiple>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="bottom">
            <div class="bottom-left">
                <a th:href="@{/board/boardList?(configCode=${configCode})}">
                    <button type="button" class="btn black">게시물목록</button>
                </a>
            </div>
            <div class="bottom-right">
                <button type="submit" class="btn blue">게시물답변</button>
            </div>
        </div>
        <input type="hidden" name="configCode" th:value="${configCode}">
        </form>
    </div>
    <script>
        function frmCheck() {
            if( document.querySelector("input[name=subject]").value == "" ) {
                alert("게시물 제목을 입력하세요.");
                document.querySelector("inp@ut[name=subject]").focus();
                return false;
            }
        }
    </script>
</body>
</html>